[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
django-cors-headers = "*"
qrcode = {extras = ["pil"], version = "*"}
django-environ = "*"
django-ninja = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.9"
